<table class="table">
  <tr>
    <th>Name</th>
    <th>Instance</th>
    <th>Puppet</th>
  </tr>
  <% @nodes.each do |node| %>
    <tr>
      <td><%= link_to node.name, node %></td>
      <td><%= generic_badge(node.instance.status) if node.instance %></td>
      <td><%= generic_badge(node.status) %></td>
    </tr>
  <% end %>
</table>
