<h3><%= @node.name %></h3>
<img src="<%= "#{node_path(@node)}/graph?target=stats.#{@node.name.split(".").first}.cpu.*.*.user.*" %>"></img>
<img src="<%= "#{node_path(@node)}/graph?target=stats.#{@node.name.split(".").first}.memory.*.*.*" %>"></img><br>
<%= @node.run("monit", "summary") %>
